.TimerLabel {
  input {
    background-color: transparent;
    border: 0;
    box-sizing: content-box;
    color: inherit;
    font-size: 1rem;
    padding: 0.5rem;
    // width: 12rem;
    width: 75%;
  }
}
