@import '@styles/Typography.scss';

.TimerDisplay {
  @include Monospace;
  // @include Troika;
  align-items: baseline;
  display: flex;

  & > * {
    margin-left: 0.75rem;

    &[data-value='0'] {
      margin-left: 0;
      overflow: hidden;
      width: 0;
    }
  }

  .Hours {
    font-size: 3rem;
  }

  .Minutes {
    font-size: 3rem;
  }

  .Seconds {
    font-size: 2rem;
  }

  .Hours,
  .Minutes,
  .Seconds {
    position: relative;

    input {
      @include Monospace;
      color: var(--color-cyan);
      cursor: pointer;
      background-color: var(--color-black);
      border: 0;
      font-size: inherit;
      height: 100%;
      left: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      &:focus {
        border: 0;
        border-bottom: 0.125rem solid var(--color-cyan);
        opacity: 1;
        outline: 0;
        padding-bottom: 0.25rem;
      }
    }
  }

  abbr {
    font-size: 1rem;
    margin-left: 0.25rem;
    text-decoration: none;
  }
}
