@import '@styles/Animation.scss';
@import '@styles/Color.scss';

.Timer {
  align-items: center;

  .Started {
    color: var(--color-white);
  }

  .Paused {
    color: var(--color-gray);
  }

  .Warning {
    color: var(--color-orange);
  }

  .Expiring {
    color: var(--color-red);
  }

  .Expired {
    color: var(--color-red);

    .Display {
      @include Blink;
    }
  }

  // TODO Clean this up
  & > div > div > div {
    display: flex;
    align-items: center;
  }

  .Label {
    content: '';
  }

  .Display {
    content: '';
  }

  .Control {
    content: '';
  }
}
