@import '@styles/Animation.scss';
@import '@styles/Color.scss';

.Timer {
  align-items: center;

  .Started {
    color: var(--color-white);
  }

  .Paused {
    color: var(--color-gray);
  }

  .Warning {
    color: var(--color-orange);
  }

  .Expired {
    color: var(--color-red);
  }

  .Label {
    content: '';
  }

  .Display {
    content: '';
  }

  .Control {
    content: '';
  }

  @mixin expanded {
    overflow: auto;
    transform: scaleX(1);
    width: 2.75rem;
  }

  @mixin collapsed {
    overflow: hidden;
    transform: scaleX(0);
    width: 0;
  }

  @keyframes expand {
    from {
      @include collapsed;
    }
    to {
      @include expanded;
    }
  }

  @keyframes collapse {
    from {
      @include expanded;
    }
    to {
      @include collapsed;
    }
  }

  .Expand {
    animation: expand 0.2s ease-out forwards;
  }

  .Collapse {
    animation: collapse 0.2s ease-out forwards;
  }
}
