.Clock {
  .Date {
    /* font-family: troikaregular; */
    margin: 0.5rem 0 0 0;
  }

  .Time {
    align-items: baseline;
    display: flex;
    /* font-family: troikaregular; */

    .HoursMinutes {
      font-size: 4rem;
      line-height: 4rem;
    }

    .TimeZone {
      font-size: 2.5rem;
      margin-left: 0.5rem;
    }
  }
}
