@keyframes blink {
  50% {
    opacity: 0;
  }
}

.BlinkFast {
  animation: blink 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

.Blink {
  animation: blink 2s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
