@keyframes blink {
  100% {
    opacity: 0;
  }
}

@mixin BlinkFast {
  animation: blink 0.5s infinite;
}

@mixin Blink {
  animation: blink 1s infinite;
}

.BlinkFast {
  @include Blink;
}

.Blink {
  @include Blink;
}
