@keyframes Blink {
  100% {
    opacity: 0;
  }
}

@mixin BlinkFast {
  animation: Blink 0.9s ease-in infinite;
}

@mixin Blink {
  animation: Blink 1.2s ease-in infinite;
}

@mixin BlinkSlow {
  animation: Blink 1.5s ease-in infinite;
}

.BlinkFast {
  @include Blink;
}

.Blink {
  @include Blink;
}
