:root {
  --color-black: black;
  --color-gray: gray;
  --color-orange: orange;
  --color-red: red;
  --color-white: white;

  @media (prefers-color-scheme: light) {
    --color-black: white;
    --color-gray: slategray;
    --color-orange: #ff6900;
    --color-red: crimson;
    --color-white: black;
  }
}
