:root {
  --color-gray-darkest: #202020;
  --color-gray-darker: #404040;
  --color-gray-dark: #606060;
  --color-gray-medium: #808080;
  --color-gray-light: #a0a0a0;
  --color-gray-lighter: #c0c0c0;
  --color-gray-lightest: #e0e0e0;

  --color-black: black;
  --color-gray: var(--color-gray-light);
  --color-white: white;

  --color-cyan: cyan;
  --color-orange: orange;
  --color-red: red;

  // @media (prefers-color-scheme: light) {
  //   --color-black: white;
  //   --color-cyan: cyan;
  //   --color-gray: slategray;
  //   --color-orange: #ff6900;
  //   --color-red: crimson;
  //   --color-white: black;
  // }
}
