<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <title>Bearded Legends</title>

    <!-- favicon and webmanifest -->
    <link rel="manifest" href="/bearded-legends/manifest.json" />
    <link rel="icon" href="/bearded-legends/favicon.ico" type="image/x-icon" />

    <!-- Android -->
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/bearded-legends/icons/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/bearded-legends/icons/android-chrome-512x512.png"
    />

    <!-- Apple Touch Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/bearded-legends/icons/apple-touch-icon.png"
    />
  </head>
  <body class="BL">
    <div id="root"></div>
  </body>
</html>
