@import '@styles/Animation.scss';
@import '@styles/Color.scss';

.Timer {
  align-items: center;

  .Started {
    @include NormalColor;
  }

  .Paused {
    @include InactiveColor;
  }

  .Warning {
    @include WarningColor;
  }

  .Expiring {
    @include ErrorColor;
  }

  .Expired {
    @include ErrorColor;
    @include Blink;
  }

  & > div > div > div {
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }

  .Label {
    content: '';
  }

  .Display {
    content: '';
  }

  .Control {
    content: '';
  }
}
