@import '@styles/Animation.scss';
@import '@styles/Color.scss';

.Timer {
  align-items: center;
  margin-top: 1.5rem;

  .Started {
    @include NormalColor;
  }

  .Paused {
    @include InactiveColor;
  }

  .Warning {
    @include WarningColor;
  }

  .Expiring {
    @include ErrorColor;
  }

  .Expired {
    @include ErrorColor;

    .Display {
      @include Blink;
    }
  }

  & > div > div > div {
    display: flex;
    align-items: center;
  }

  .Label {
    content: '';
  }

  .Display {
    content: '';
  }

  .Control {
    content: '';
  }

  .SlideIn {
    overflow: hidden;
    transition: width 0.3s ease;
    width: 0;

    &.Open {
      transition: width 0.3s ease;
      width: 6.5rem;
    }

    button {
      background-color: transparent;
      border: 0.125rem solid var(--color-red);
      border-radius: 0.5rem;
      color: var(--color-red);
      font-size: 1.25rem;
      padding: 0.5rem;

      svg {
        margin-right: 0.5rem;
      }
    }
  }
}
