.TimerControl {
  button {
    background-color: transparent;
    border: 0;
    color: inherit;
    min-height: 2.75rem;
    min-width: 2.75rem;
    padding: 0;

    svg {
      height: 2rem;
      width: 2rem;
    }
  }
}
