@import '@styles/Accessibility.css';
@import '@styles/Animation.css';
@import '@styles/Typography.css';
@import '@styles/Color.css';

.Timer {
  align-items: center;
  display: flex;
  justify-content: space-between;

  abbr {
    text-decoration: none;
  }
}

.Elapsed {
  composes:
    Monospace from '@styles/Typography.css',
    Inactive from '@styles/Color.css';
  align-items: baseline;
  display: flex;
  line-height: 4rem;

  .Minutes {
    font-size: 4rem;
  }

  .Seconds {
    font-size: 3rem;
    :width:;
    margin: 0 0 0 0.5rem;
  }

  span {
    font-size: 2rem;
  }
}

.Started {
  composes: Normal from '@styles/Color.css';
}

.Paused {
  composes: Inactive from '@styles/Color.css';
}

.Warning {
  composes: Warning from '@styles/Color.css';
}

.Expiring {
  composes: Error from '@styles/Color.css';
}

.Controls {
  button {
    background-color: transparent;
    border: 0;
    margin: 0 0 0 1rem;
    min-height: 2.75rem;
    min-width: 2.75rem;
    padding: 0;

    svg {
      height: 2.75rem;
      width: 2.75rem;
    }
  }
}
