:root {
  --button-border-radius: 0.5rem;
}

@mixin Button {
  align-items: center;
  background-color: var(--color-white);
  border: 0;
  border-radius: var(--button-border-radius);
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight: bold;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  white-space: nowrap;
}

@mixin Hover {
  text-decoration: underline !important;
}

a.Button {
  @include Button;
  display: inline-block;
}

.Button {
  @include Button;

  &:hover {
    @include Hover;
  }
}
