.Card {
  --border-width: 0.0625rem;

  width: 100vw;

  @media screen and (min-width: 640px) {
    //320 x 2
    width: 50vw;
  }

  @media screen and (min-width: 960px) {
    //320 x 3
    width: 33.33vw;
  }

  @media screen and (min-width: 1280px) {
    //320 x 4
    width: 25vw;
  }

  @media screen and (min-width: 1600px) {
    //320 x 5
    width: 20vw;
  }

  @media screen and (min-width: 1920px) {
    //320 x 6
    width: 16.66vw;
  }

  @media screen and (min-width: 2240px) {
    //320 x 7
    width: 14.28vw;
  }

  @media screen and (min-width: 2560px) {
    //320 x 8
    width: 12.5vw;
  }

  &.Flip {
    background: linear-gradient(
      to bottom,
      var(--color-black),
      var(--color-gray-darkest)
    );
    background-color: var(--color-gray-darkest);
    // border: var(--border-width) solid var(--color-cyan);
  }

  .Content {
    // border: var(--border-width) solid transparent;
    content: '';
  }

  .Front {
    width: 100%;
  }

  .Front.Collapse {
    flex: 1 1 auto;
    overflow-x: hidden;
    width: auto;
  }

  .SlideIn {
    overflow: hidden;
    transition: width 0.3s ease-in;
    width: 0;
  }

  .SlideIn.Open {
    flex: 0 0 auto;
    transition: width 0.3s ease-in;
    // width: 6.5rem;
    width: 36.79%;
  }
}
