.IconButton {
  button {
    background-color: transparent;
    border: 0;
    color: inherit;
    font-size: 1.5rem;
    min-height: 2.75rem;
    padding: 0;
    vertical-align: middle;

    width: 2.75rem;

    svg {
      height: 2rem;
      width: 2rem;
    }
  }
}
