@import '@styles/Layout.scss';

.GuildWars {
  height: auto;
  padding: 0 0 6rem 0;

  .Logo {
    content: '';
  }

  .Clock {
    margin: 0 0.5rem;
  }

  .Add {
    button {
      @include Button;
      background-color: var(--color-orange);
      color: var(--color-black);
      margin: 3.5rem 0 0 0;
    }
  }
}
