@import '@components/Button.scss';

.GuildWars {
  height: auto;
  padding: 0 0 6rem 0;

  .Logo {
    content: '';
  }

  .Clock {
    margin: 0 0.5rem;
  }

  .Card {
    margin: 1.5rem 0 0 0;
  }

  .SlideIn {
    padding: 0 0.75rem;
  }

  .AddButton {
    background-color: var(--color-orange);
    color: var(--color-black);
    margin-top: 2.6875rem;
  }

  .RemoveButton {
    background-color: var(--color-red);
    color: var(--color-white);
    margin-top: 2.6875rem;
  }
}
